.box {
    border: 1px solid rgb(49, 46, 46);
    padding: 10px;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    background-color: #fafafa;
  }
  
  .top-box {
    height: 35px;
    margin-top: 3px;
    margin-left: 10px;
  }
  
  .title {
    font-size: 30px;
    font-weight: bold;
  }
  
  .middle-box {
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
  }
  
  .middleDescription {
    color: rgb(135, 135, 135);
    font-size: 16px;
  }

  .description {
    color: rgb(78, 77, 77);
    font-size: 16px;
    font-weight: bold;
  }
  
  .bottom-box {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  /* 폰트 색상 변경 */
  .option {
    margin: 15px;
    border-radius: 10px;
    background-color: #fafafa;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    width: 10%;
  }
  
