 /* signinbox 전체 틀 */
.signinbox {
    border: 1px solid rgb(49, 46, 46);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    background-color: #fafafa;
    max-width: 20rem;
    margin: auto;
    margin-top: 20px;
  }

 /* 입력칸 */
.input{
    border: 1px solid rgb(181, 183, 182);
    width: 298px;
    height: 30px;
    border-radius: 5px;
}

/* sign in 클릭 버튼 */
.submitButton{
    background-color: #0070f3;
    color: white;
    width: 298px;
    height: 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

/* 글자 중간에 배치 & 흰색 */
.mid{
    text-align: center;
    color: white;
}

/* 줄 사이 공백 */
.space{
    height: 12px;
}

/* 계정 만드는 박스 */
.account{
    text-align: center;
    border: 1px solid rgb(49, 46, 46);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    background-color: #fafafa;
    max-width: 20rem;
    margin: auto;
    margin-top: 20px;
}

/* 아이콘 & 글자 배치 */
.iconWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
    margin-top: 5em;
  }

/* 아이콘 크기 */
.icon {
    width: 70px;
    height: 70px;
  }